.container{
    position: relative;
    bottom: -30px;
    left: 20px;
    border: 4px solid aqua;
    height: 400px;
    width: 300px;
  
}
h2{
    position: relative;
    text-align: center;
}

.box{
    position: relative;
    bottom: 30px;
    width: 200px;
    height: 50px;
    margin: 50px;
    background-color: grey;
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: space-around;    
}
.second{
    position: relative;
    bottom: 380px;
    left: 400px;
    border: 4px solid aqua;
    height: 450px;
    width: 300px;
}
.side-box{
    position: relative;
    bottom: 30px;
    width: 200px;
    height: 50px;
    margin: 50px;
    background-color: grey;
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: space-around; 
}